* {
	box-sizing: border-box;
}

img {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	height: auto;
}

.info {
	border: 2px solid #B72920;
	height: 220px;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	padding: 15px;
	font-family: Helvetica Neue;
}

h1 {
	font-size: 40px;
}